<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Calculadora de Desconto</title>
</head>
<body>
    <main class="container">
        <h1>Calculadora de Desconto</h1>
        <form method="POST">
            <label>Preço Original (R$):</label>
            <input type="number" step="0.01" name="preco" required>
            
            <label>Desconto (%):</label>
            <input type="number" step="0.1" name="porcentagem" required>
            
            <button type="submit">Calcular</button>
        </form>

        {% if final %}
            <ins>Valor do Desconto: R$ {{ "%.2f"|format(desconto) }}</ins><br>
            <ins>Preço Final: R$ {{ "%.2f"|format(final) }}</ins>
        {% endif %}
    </main>
</body>
</html>